Bai05_WebFZorm/DienMayClient/Service References/LocalService/ChungLoaiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DienMayServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DienMayServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChungLoaiOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChungLoaiOutput" nillable="true" type="tns:ChungLoaiOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChungLoaiOutput" nillable="true" type="tns:ArrayOfChungLoaiOutput" />
  <xs:complexType name="ChungLoaiOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChungLoaiInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="TongSoLoai" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChungLoaiOutput" nillable="true" type="tns:ChungLoaiOutput" />
  <xs:complexType name="ChungLoaiInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChungLoaiInput" nillable="true" type="tns:ChungLoaiInput" />
</xs:schema>