Bai05_WebFZorm/DienMayClient/Service References/CVThanhService/ChungLoaiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChungLoaiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cvthanh.somee.com/SOAP/ChungLoaiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cvthanh.somee.com/SOAP/ChungLoaiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cvthanh.somee.com/SOAP/ChungLoaiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DienMayServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChungLoaiService_DocTatCa_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTatCa" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_DocTatCa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTatCaResponse" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_DocTheoTen_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoTen" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_DocTheoTen_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoTenResponse" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_DocTheoID_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoID" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_DocTheoID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoIDResponse" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_Them_InputMessage">
    <wsdl:part name="parameters" element="tns:Them" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_Them_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemResponse" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_Sua_InputMessage">
    <wsdl:part name="parameters" element="tns:Sua" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_Sua_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaResponse" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_Huy_InputMessage">
    <wsdl:part name="parameters" element="tns:Huy" />
  </wsdl:message>
  <wsdl:message name="IChungLoaiService_Huy_OutputMessage">
    <wsdl:part name="parameters" element="tns:HuyResponse" />
  </wsdl:message>
  <wsdl:portType name="IChungLoaiService">
    <wsdl:operation name="DocTatCa">
      <wsdl:input wsaw:Action="http://tempuri.org/IChungLoaiService/DocTatCa" message="tns:IChungLoaiService_DocTatCa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChungLoaiService/DocTatCaResponse" message="tns:IChungLoaiService_DocTatCa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocTheoTen">
      <wsdl:input wsaw:Action="http://tempuri.org/IChungLoaiService/DocTheoTen" message="tns:IChungLoaiService_DocTheoTen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChungLoaiService/DocTheoTenResponse" message="tns:IChungLoaiService_DocTheoTen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocTheoID">
      <wsdl:input wsaw:Action="http://tempuri.org/IChungLoaiService/DocTheoID" message="tns:IChungLoaiService_DocTheoID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChungLoaiService/DocTheoIDResponse" message="tns:IChungLoaiService_DocTheoID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Them">
      <wsdl:input wsaw:Action="http://tempuri.org/IChungLoaiService/Them" message="tns:IChungLoaiService_Them_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChungLoaiService/ThemResponse" message="tns:IChungLoaiService_Them_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sua">
      <wsdl:input wsaw:Action="http://tempuri.org/IChungLoaiService/Sua" message="tns:IChungLoaiService_Sua_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChungLoaiService/SuaResponse" message="tns:IChungLoaiService_Sua_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Huy">
      <wsdl:input wsaw:Action="http://tempuri.org/IChungLoaiService/Huy" message="tns:IChungLoaiService_Huy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChungLoaiService/HuyResponse" message="tns:IChungLoaiService_Huy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChungLoaiService" type="tns:IChungLoaiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DocTatCa">
      <soap:operation soapAction="http://tempuri.org/IChungLoaiService/DocTatCa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTheoTen">
      <soap:operation soapAction="http://tempuri.org/IChungLoaiService/DocTheoTen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTheoID">
      <soap:operation soapAction="http://tempuri.org/IChungLoaiService/DocTheoID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Them">
      <soap:operation soapAction="http://tempuri.org/IChungLoaiService/Them" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sua">
      <soap:operation soapAction="http://tempuri.org/IChungLoaiService/Sua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Huy">
      <soap:operation soapAction="http://tempuri.org/IChungLoaiService/Huy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChungLoaiService">
    <wsdl:port name="BasicHttpBinding_IChungLoaiService" binding="tns:BasicHttpBinding_IChungLoaiService">
      <soap:address location="http://cvthanh.somee.com/SOAP/ChungLoaiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>